@keyframes loc1 {
    0% {opacity: 0;}
   25% {opacity: 1;}
    75%{opacity: 1;}      
   100% {opacity: 0;} 
}

@keyframes loc2 {
   0% {opacity: 0;}
   25% {opacity: 1;}
    75%{opacity: 1;}      
   100% {opacity: 0;}   
}

@keyframes cover {
   0% {opacity: 1;}     
   100% {opacity: 0;}   
}

@keyframes spin { 25% {transform:rotateY(90deg); }
50% {transform:rotateY(-90deg); }
75% {transform:rotateY(90deg); }    
}

@keyframes spinre { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

@font-face {
    font-family:"dotline";
    src:url(dotline-Regular.woff) ;
   
}


body{background-color: black;
color:white;
padding: 0px;
padding-top: 0px;    

overflow-x: hidden;
overflow-y: hidden;

font-family: dotline;}

#background{
    position: absolute;
    left: 0px;
    top:0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    
    z-index: 0;
    opacity: 0;
    
    transition: 3s;

}

.cover{
    position: absolute;
    left: 0px;
    top: 0xp;
    width: 100vw;
    height: 100vh;
    
    z-index:8;
    
    background-color: black;
    
   
    text-align: center;
    color: white;
    
    padding-top:80px;
}

.content{
    max-width: 900px;
    padding-left:25vw;
    padding-right: 25vw;
    
    line-height: 25px;
}

.button{
    cursor: pointer;
}

#header{
    position: absolute;
    top: -15px;
    left: 15px;
    
    font-size:25px;
    opacity: 0;
    z-index: 9;
    transition-duration: 3s;
}

#about{
    position: absolute;
    top: -15px;
    right: 30px;
    
    cursor: pointer;
    font-size:25px;
    opacity: 0;
    z-index: 9;
    transition-duration: 3s;
}

#backimg{
    width: 100vw;
    height: 100vh;
    
    transition-duration: 3s;
}


.pin{
    
    
    max-width: 120px;
    height: 16px;
    
    border-radius: 50%;
    background-color: none;
    
    
    
    
    cursor: pointer;
    
    transition-delay: 1.5s;
    transition-duration: 1.5s;
    
    animation:spin 50s linear infinite;
    
}

#pin1{
    position: absolute;
    left: 42vw;
    top: 5vh;
    z-index: 0;
    opacity: 0;
    
    
}
#pin1:hover + #name1{
    opacity: 1;
}

#pin2{
    position: absolute;
    left: 27vw;
    top: 23vh;
    z-index: 0;
    opacity: 0;
    
}
#pin2:hover + #name2{
    opacity: 1;
}

#pin3{
    position: absolute;
    left: 50vw;
    top: 93vh;
    z-index: 0;
    opacity: 0;
    
}
#pin3:hover + #name3{
    opacity: 1;
}

#pin4{
    position: absolute;
    left: 56vw;
    top: 60vh;
    z-index: 0;
    opacity: 0;
    
}
#pin4:hover + #name4{
    opacity: 1;
}

#pin5{
    position: absolute;
    left: 87vw;
    top: 30vh;
    z-index: 0;
    opacity: 0;
    
}
#pin5:hover + #name5{
    opacity: 1;
}

#pin6{
    position: absolute;
    left: 7vw;
    top: 56vh;
    z-index: 0;
    opacity: 0;
    
}
#pin6:hover + #name6{
    opacity: 1;
}

.name{
    
    text-align: center;
    font-size: 14px;
    max-width: 300px;
    z-index: 9;
    opacity: 1;
    background-color: black;
}




#locate1, #locate2, #locate3, #locate4, #locate5, #locate6{
    position: absolute;
    top:0px;
    left: 0px;
    
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    width: 100vw;
    height: 50.5vw;
    
    
    transition-duration: 4s;
    
    z-index: 0;
    opacity: 0;
    
}

.block{
    position: absolute;
    top:0px;
    left: 0px;
    
    width: 80vw;
    height: 89vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    z-index: 0;
}


.cover{
    position: absolute;
    left: 0px;
    top:0px;
    
    width: 100%;
    height: 100%;
    
    z-index: 1;
    
}

.street{
    position: absolute;
    top:47vh;
    left: 33vw;
    
    opacity: 0.2;
    
    transition-duration: 1s;
}

.street2{
    position: absolute;
    top:47vh;
    left: 33vw;
    z-index: 8;
    opacity: 0.3;
    
    transition-duration: 1s;
}

.street:hover{
    opacity: 1;
    
}

.street2:hover{
    opacity: 1;
    
}

.window{
    opacity: 0.99;
    transition-duration: 1s;
    
    z-index: 9;
}



#aboutbox{
    position: absolute;
    left: 0;
    top: 0;
    
    width: 0vw;
    height: 100vh;
    
    opacity: 0;
    z-index: 9;
    
    background-color: black;
    transition-duration: 2s;
    
    padding-top: 10vh;
    padding-left: 5vw;
}



.swan{
    cursor: pointer;
    color: white;
    text-decoration: none;
    z-index: 9;
    max-width: 150px;
}

.book{
    position: absolute;
    left: 150px;
    top: 30px;
    
    opacity: 0;
    width: 10%;
    z-index: 9;
}

.swan:hover+.book{
    opacity: 1;
    
}

#back{
    position: fixed;
    top: 35px;
    right: 33px;
    font-size: 35px;
    cursor: pointer;
    
    opacity: 0;
    transition-duration: 2s;
}

#back1, #back2, #back3,#back4, #back5, #back6{
    position: fixed;
    top: 25px;
    left: 25px;
    font-size: 35px;
    cursor: pointer;
}